In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r"C:\Users\deyar\OneDrive\Desktop\CreditCardDefaultPrediction\notebooks\data\UCI_Credit_Card.csv")

In [3]:
data.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [4]:
num_col=["LIMIT_BAL","AGE","BILL_AMT1","BILL_AMT2","BILL_AMT3","BILL_AMT4",
     "BILL_AMT5","BILL_AMT6","PAY_AMT1","PAY_AMT2","PAY_AMT3","PAY_AMT4",
     "PAY_AMT5","PAY_AMT6"]
cat_col=['SEX','EDUCATION','MARRIAGE','PAY_0','PAY_2','PAY_3','PAY_4','PAY_5','PAY_6']

In [5]:
data_num=data[num_col]

In [6]:
data_num.head()

,LIMIT_BAL,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,20000.0,24,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0
1,120000.0,26,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0
2,90000.0,34,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0
3,50000.0,37,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0
4,50000.0,57,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0

In [7]:
data_cat=data[cat_col]

In [8]:
y=data["default.payment.next.month"]

In [9]:
y=pd.DataFrame(y,columns=["default.payment.next.month"])

In [10]:
x=data.drop("default.payment.next.month",axis=1)

In [11]:
from scipy.stats import shapiro

In [12]:
s=[]
for i in data_num.columns:
  d=data_num[i]
  st,p=shapiro(d)
  if p >0.05:
    s.append("normally distributed")
  else:
    s.append("not normally distributed")
p=pd.DataFrame(s,columns=["result"])
p
q=pd.DataFrame(data_num.columns,columns=["column name"])
q
pd.concat([q,p],axis=1)

C:\Users\deyar\AppData\Local\Temp\ipykernel_42576\1199277186.py:4: UserWarning: scipy.stats.shapiro: For N > 5000, computed p-value may not be accurate. Current N is 30000.
  st,p=shapiro(d)

   column name                    result
0    LIMIT_BAL  not normally distributed
1          AGE  not normally distributed
2    BILL_AMT1  not normally distributed
3    BILL_AMT2  not normally distributed
4    BILL_AMT3  not normally distributed
5    BILL_AMT4  not normally distributed
6    BILL_AMT5  not normally distributed
7    BILL_AMT6  not normally distributed
8     PAY_AMT1  not normally distributed
9     PAY_AMT2  not normally distributed
10    PAY_AMT3  not normally distributed
11    PAY_AMT4  not normally distributed
12    PAY_AMT5  not normally distributed
13    PAY_AMT6  not normally distributed

In [13]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [14]:
co_linear=pd.DataFrame()
co_linear["features"]=data_num.columns
co_linear["vif"]=[ variance_inflation_factor(data_num.values,i)
for i in range(len(data_num.columns))]
print(co_linear)

     features        vif
0   LIMIT_BAL   3.214685
1         AGE   2.741991
2   BILL_AMT1  20.646093
3   BILL_AMT2  38.058414
4   BILL_AMT3  31.712525
5   BILL_AMT4  29.402979
6   BILL_AMT5  35.826768
7   BILL_AMT6  21.286025
8    PAY_AMT1   1.888997
9    PAY_AMT2   2.369543
10   PAY_AMT3   1.887750
11   PAY_AMT4   1.783987
12   PAY_AMT5   1.844508
13   PAY_AMT6   1.269605

In [15]:
data_num.drop("BILL_AMT2",axis=1,inplace=True)

C:\Users\deyar\AppData\Local\Temp\ipykernel_42576\3201980896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_num.drop("BILL_AMT2",axis=1,inplace=True)

In [16]:
co_linear=pd.DataFrame()
co_linear["features"]=data_num.columns
co_linear["vif"]=[ variance_inflation_factor(data_num.values,i)
for i in range(len(data_num.columns))]
print(co_linear)

     features        vif
0   LIMIT_BAL   3.212724
1         AGE   2.741798
2   BILL_AMT1   9.812448
3   BILL_AMT3  24.013815
4   BILL_AMT4  29.400011
5   BILL_AMT5  35.818084
6   BILL_AMT6  21.215469
7    PAY_AMT1   1.378769
8    PAY_AMT2   1.885868
9    PAY_AMT3   1.885068
10   PAY_AMT4   1.782428
11   PAY_AMT5   1.836952
12   PAY_AMT6   1.268861

In [17]:
data_num.drop("BILL_AMT5",axis=1,inplace=True)

C:\Users\deyar\AppData\Local\Temp\ipykernel_42576\2764553106.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_num.drop("BILL_AMT5",axis=1,inplace=True)

In [18]:
co_linear=pd.DataFrame()
co_linear["features"]=data_num.columns
co_linear["vif"]=[ variance_inflation_factor(data_num.values,i)
for i in range(len(data_num.columns))]
print(co_linear)

     features        vif
0   LIMIT_BAL   3.210103
1         AGE   2.741377
2   BILL_AMT1   9.808572
3   BILL_AMT3  23.977738
4   BILL_AMT4  22.578367
5   BILL_AMT6  10.682311
6    PAY_AMT1   1.378420
7    PAY_AMT2   1.882238
8    PAY_AMT3   1.878278
9    PAY_AMT4   1.413857
10   PAY_AMT5   1.460763
11   PAY_AMT6   1.253755

In [19]:
data_num.drop("BILL_AMT3",axis=1,inplace=True)

C:\Users\deyar\AppData\Local\Temp\ipykernel_42576\2247477166.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_num.drop("BILL_AMT3",axis=1,inplace=True)

In [20]:
co_linear=pd.DataFrame()
co_linear["features"]=data_num.columns
co_linear["vif"]=[ variance_inflation_factor(data_num.values,i)
for i in range(len(data_num.columns))]
print(co_linear)

     features        vif
0   LIMIT_BAL   3.205858
1         AGE   2.740199
2   BILL_AMT1   6.386059
3   BILL_AMT4  14.992449
4   BILL_AMT6  10.633590
5    PAY_AMT1   1.346455
6    PAY_AMT2   1.285338
7    PAY_AMT3   1.411414
8    PAY_AMT4   1.413218
9    PAY_AMT5   1.460727
10   PAY_AMT6   1.253688

In [21]:
data_num.drop("BILL_AMT4",axis=1,inplace=True)

C:\Users\deyar\AppData\Local\Temp\ipykernel_42576\2569487599.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_num.drop("BILL_AMT4",axis=1,inplace=True)

In [22]:
co_linear=pd.DataFrame()
co_linear["features"]=data_num.columns
co_linear["vif"]=[ variance_inflation_factor(data_num.values,i)
for i in range(len(data_num.columns))]
print(co_linear)

    features       vif
0  LIMIT_BAL  3.203739
1        AGE  2.740169
2  BILL_AMT1  4.487024
3  BILL_AMT6  4.741216
4   PAY_AMT1  1.323153
5   PAY_AMT2  1.247357
6   PAY_AMT3  1.283447
7   PAY_AMT4  1.259002
8   PAY_AMT5  1.303295
9   PAY_AMT6  1.234556

here we removed all multi colinerity problems

In [23]:
from scipy.stats import chi2_contingency

In [24]:
s=[]
for i in data_cat.columns:
  p=pd.crosstab(y['default.payment.next.month'],data_cat[i])
  st,p,dof,expected=chi2_contingency(p)
  if p>.05:
    s.append("independent")
  else:
    s.append("dependent")
print(s)

['dependent', 'dependent', 'dependent', 'dependent', 'dependent', 'dependent', 'dependent', 'dependent', 'dependent']

In [25]:
s1=pd.DataFrame(s,columns=["result"])
p=data_cat.columns
s2=pd.DataFrame(p,columns=["columns"])
pd.concat([s1,s2],axis=1)

      result    columns
0  dependent        SEX
1  dependent  EDUCATION
2  dependent   MARRIAGE
3  dependent      PAY_0
4  dependent      PAY_2
5  dependent      PAY_3
6  dependent      PAY_4
7  dependent      PAY_5
8  dependent      PAY_6

In [26]:
from scipy.stats import f_oneway

In [27]:
s=[]
for i in data_num.columns:
  st,p=f_oneway(data_num[i],y['default.payment.next.month'])
  if p>.05:
    s.append("independent")
  else:
    s.append("dependent")
print(s)

['dependent', 'dependent', 'dependent', 'dependent', 'dependent', 'dependent', 'dependent', 'dependent', 'dependent', 'dependent']

In [28]:
s1=pd.DataFrame(s,columns=["result"])
p=data_num.columns
s2=pd.DataFrame(p,columns=["columns"])
pd.concat([s1,s2],axis=1)

      result    columns
0  dependent  LIMIT_BAL
1  dependent        AGE
2  dependent  BILL_AMT1
3  dependent  BILL_AMT6
4  dependent   PAY_AMT1
5  dependent   PAY_AMT2
6  dependent   PAY_AMT3
7  dependent   PAY_AMT4
8  dependent   PAY_AMT5
9  dependent   PAY_AMT6

In [29]:
from scipy.stats import levene

In [30]:
y.columns

Index(['default.payment.next.month'], dtype='object')

In [31]:
s=[]
for i in data_num.columns:
  st,p=levene(data[data["default.payment.next.month"]==0][i],
  data[data["default.payment.next.month"]==1][i],center="mean")
  if p>0.05:
    s.append("equal")
  else:
    s.append("unequal")
print(s)

['unequal', 'unequal', 'unequal', 'unequal', 'unequal', 'unequal', 'unequal', 'unequal', 'unequal', 'unequal']

there are lots of data disbalenced